html {
  font-size: 18px;
  background-color: white;
  font-family: sans-serif;
  line-height: 1.15em;
  display: block;
}

body {
  font-family: Helvetica;
  line-height: 1.4em;
  margin: 0;
  display: block;
}

.company {
  background-color: black;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.company .container {
  display: flex;
  align-items: center;
  padding: 12px 0 12px 0.5em;
}

.company img {
  background-color: black;
  height: 1.5em;
  padding-right: 15px;
}

img {
  border-style: none;
}

.main-banner {
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25em;
}

.headline {
  background-color: black;
  color: white;
  width: 28em;
  padding: 2em 3em;
  position: relative;
  top: 9em;
}

h1, h4 {
  font-weight: bold;
}

h4 {
  display: block;
}

.headline h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin: 0.25em;
}

nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0.75rem;
  list-style: none;
}

.mobile-nav {
  display: none;
}

.products {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}

.product {
  width: 30%;
}

.product-image {
  border: 4px solid black;
  padding: 2rem;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em;
}

.business-info {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}

.info {
  width: 35%;
}

.info .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

footer {
  background-color: black;
  color: white;
  padding: 5em 0;
  margin-top: 4em;
}

@media only screen and (max-width: 1024px) {
  .main-banner {
    font-size: 0.72rem;
  .product {
    width: 47%;
    }
  }
}

@media only screen and (max-width: 470px) {
  .h1 {
    bottom: 9em;
  .main-banner {
    font-size: 0.77em;
  .product {
    width: 90%;
    }
  }
  }
}
